body{
    background-color: #020514;
}


.navbar{
    background-color: #090b13;
}

.hero-content{
    margin-top: 68.72px;
    min-height: calc(100vh - 69.72px);
    background-image: url('assets/img/5BrandsNew_Desktop_BPO.jpg');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20vh;
    max-width: 1920px;
}

.hero-content h1,.screens h2,.originals h2,.lion-king h2{
    font-weight: 600;
}

.originals,.screens{
    max-width: 1920px;
}

.lion-king{
    min-height: 80vh;
    background-image: url('assets/img/Module_LionKing.png');
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
}

@media screen and (max-width:992px){
    .hero-content{
        background-image: url('assets/img/5BrandsNew_Mobile_BPO.jpg');
        background-position: top center;
        background-size: 100% auto;
        padding-top: 60vh;
    }

    .lion-king{
        min-height: auto;
        background-image: none;
    }
}


@media screen and (max-width:768px){
    .hero-content{
        padding-top: 40vh;
    }
}

@media screen and (max-width:576px){
    .hero-content{
        padding-top: 25vh;
    }
}
